

  <div class='row mx-3'>

    <div class='col-7 p-0'>
      <!-- TITLE -->
      <div class='mx-auto w-100 text-center' style='height: 120px; position: sticky; top: 65px; background-color: #F4F4F4;'>
        <h1 class='pt-5 pb-3 m-0'>My Rockets Requests</h1>
      </div>

      <div class='p'>
        <% @orders.each do |order| %>
          <!-- ORDER CARD -->
          <div class='card mx-auto my-3 container order-card' style='height: 200px; width: 90%; z-index: -1;'>
            <div class='row h-100'>
              <!-- PICTURE PART -->
              <div class="card-category col-3" style="height: 100%; background-size: cover; background-position: center; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path order.rocket.photo.key, height: 300, width: 400, crop: :fill %>')">
                <h2><%= order.rocket.name %></h2>
              </div>
              <!-- CONTENT PART -->
              <div class='col-6 p-3 d-flex flex-column justify-content-center' style='height: 200px;'>
                <div class='ml-3 d-flex flex-column justify-content-center'>
                  <div class='container'>
                    <div class="row">
                      <div class='col p-0'>
                        <p><span class='legend'>from</span><br/>
                          <%= order.begin_date.strftime("%d of %B, %Y") %></p>
                      </div>
                      <div class='col p-0'>
                        <p><span class='legend'>to</span><br/>
                          <%= order.end_date.strftime("%d of %B, %Y") %></p>
                      </div>
                    </div>
                    <div class='row d-flex align-items-center'>
                      <div>
                        <%= image_tag "pierre.jpg", class: "avatar1 mr-3" %>
                      </div>
                      <div>
                        <p class='name m-0'><%= order.renter.first_name %> <%= order.renter.last_name %></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- PRICE PART -->
              <div class='col-3 p-2 d-flex justify-content-center align-items-center'>
                <div class='p-3 d-flex flex-column justify-content-center align-items-center'>
                  <p class='mb-4' style='font-size: 200%; font-weight: 800px;'>$<%= order.total_price %></p>
                  <% if order.status == 'Pending' %>
                  <!-- ACCEPT & DECLINE BUTTONS -->
                    <div class='d-flex flex-column'>
                      <%= link_to accept_owner_order_path(order), method: 'patch' do%>
                        <button type="button" class="btn btn-success mb-2" style='width: 90px;'>Accept</button>
                      <% end %>
                      <%= link_to decline_owner_order_path(order), method: 'patch' do%>
                        <button type="button" class="btn btn-outline-danger" style='width: 90px;'>Decline</button>
                      <% end %>
                    </div>
                  <% else %>
                  <!-- STATUS AND CANCEL BUTTON -->
                    <div class='d-flex flex-column align-items-center'>
                      <% if order.status == 'Accepted'%>
                        <p class='m-0 text-success'><%= order.status %></p>
                      <% else %>
                        <p class='m-0 text-danger'><%= order.status %></p>
                      <% end %>
                      <%= link_to cancel_owner_order_path(order), method: 'patch' do%>
                        <button type="button" class="btn btn-outline-dark mt-3" style='width: 90px;'>Cancel</button>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <!-- CALENDAR PART -->
    <div class='col-5 pr-3'>
      <div id='calendar' class="margin-calendar" style="position: sticky; top: 110px;"></div>
    </div>


  </div>

