<%= render 'shared/background' do %>
<%= content_tag :div, class: "continent", data: {continent: @continent} do %>
<% end %>
<div class="container">
  <div class='row d-flex justify-content-between my-3'>
    <h1 class = "mb-3 text-align-center" id='neon-title'>RocketMan</h1>
    <div class='m-auto'>
      <%= simple_form_for :search, url: rockets_path, method: "GET",
        wrapper: :inline_form,
        html: { class: "form-inline" },
        wrapper_mappings: {
          boolean: :inline_boolean
        }  do |f| %>
        <%= f.input :continent, collection: Rocket::CONTINENT, prompt: @params[:continent], input_html: {class: "mb-2 mr-sm-2"} %>
        <%= f.input :begin_date, as: :string, required: false, input_html: {value: @params[:begin_date], class: "datepicker mb-2 mr-sm-2"} %>
        <%= f.input :end_date, as: :string, required: false, input_html: {value: @params[:end_date], class: "datepicker mb-2 mr-sm-2"}  %>
        <%= button_tag( :class => "btn btn-primary mb-2") do %>
          TAKE OFF <i class="fas fa-space-shuttle"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-5" style="max-height: 75vh; overflow: scroll;">
      <% @rockets.each do |rocket| %>
          <div class="rocket-card mt-3 mb-3" data-longitude="<%= rocket.longitude %>" data-latitude="<%= rocket.latitude %>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path rocket.photo.key %>')">
            <div class="card-category card-description d-flex flex-column mt-auto mb-3">
              <div class="rocket-card-title  text-align-center pt-3">
                <h1 style = "color: white"><%= rocket.name %></h1>
              </div>
              <div class="flex text-align-center pb-3">
                <h6 style = "color: white"><%= rocket.city %>, <%= rocket.country %></h6>
              </div>
            </div>
            <%= link_to 'More info', rocket_path(rocket), target: :_blank, class: "card-link"%>
          </div>

      <% end %>
    </div>
    <div class="col-7" style="position: sticky; right: 100px;">
        <%= render 'shared/earth' %>
    </div>

  </div>
</div>
<% end %>

