<div class="container">
  <h1 class="title-index text-center pb-3 pt-3"><strong>All our Rockets</strong></h1>

  <div class="row">
    <% @rockets.each do |rocket| %>
    <div class="col-4">
      <div class="rocket-card mt-3" style= "background-color: rgb(248, 249, 250)">
        <div class="rocket-card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path rocket.photo.key, height: 300, width: 400, crop: :fill %>')"></div>
        <div class="card-description text-left pl-4">
          <div class="rocket-card-title pt-3">
            <h4><%= rocket.name %></h4>
          </div>
          <p> rocket available on <%= rocket.location %></p>
          <div class="flex pb-3">
            <%= rocket.daily_price %> <i class="fas fa-euro-sign"></i>
            <%= rocket.autonomy %> <span>al</span>
          </div>
        </div>
        <%= link_to 'More info', rocket_path(rocket), class: "card-link"%>
      </div>
    </div>
    <% end %>
  </div>
</div>
