<div class ="row visible" style='height: calc(100vh - 65px);'>

  <div class="col-12 col-md-6">
    <div class='row' style='height: 65%;'>
      <div class='d-flex align-items-end' style="width:100%; background-size: cover; background-position: center; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @rocket.photo.key %>')">
        <div class='mx-5 my-3 text-white'>
          <h1 class='title-text'><strong><%= @rocket.name %></strong></h1>
          <p class='subtitle-text'>Launch form <%= @rocket.city %>, <%= @rocket.country %> <%= @rocket.flag %></p>
        </div>
      </div>
    </div>
    <div class='row' style='height: 35%;'>
      <div class='' style="width:50%; background-size: cover; background-position: center; background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://live.staticflickr.com/65535/47706292911_b8370310a1_b.jpg')"></div>
      <div class='' style="width:50%; background-size: cover; background-position: center; background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://cdn.images.express.co.uk/img/dynamic/151/590x/secondary/NASA-news-space-station-pictures-Earth-from-space-International-Space-Station-ISS-1951450.jpg?r=1562686066683')"></div>
    </div>
  </div>

  <div class="col-12 col-md-6">

    <div class="card p-3 m-3">
      <h4>Book this rocket!</h4>
      <%= simple_form_for [@rocket, @order] do |f| %>
        <%= f.input :begin_date, as: :string, input_html: {class: "begin_date datepicker"} %>
        <%= f.input :end_date, as: :string, input_html: {class: "end_date datepicker"}  %>
        <div class= "d-flex justify-content-between">
          <p id = "calcul" data-dailyPrice="<%= @rocket.daily_price %>"></p>
          <p class = "text-right" id="price"></p>
        </div>
        <%= f.submit "book", class: "btn btn-info w-100" %>



      <% end %>
    </div>

    <div class="card p-3 m-3">

      <h4>A unique rocket!</h4>
      <div class='mt-2'>
        <p>
          <%= @rocket.travellers_number %> <%= @rocket.travellers_number == 1 ? 'traveller' : 'travellers' %> ·
          <%= @rocket.beds_number %> <%= @rocket.beds_number == 1 ? 'bed' : 'beds' %> ·
          <%= @rocket.rooms_number %> <%= @rocket.rooms_number == 1 ? 'room' : 'rooms' %> ·
          <%= @rocket.bathrooms_number %> <%= @rocket.bathrooms_number == 1 ? 'bathroom' : 'bathrooms' %>
        </p>
      </div>

      <div class="d-flex flex-wrap py-4 m-3 border-bottom border-top">

        <div class='equipment'><i class="fas fa-wifi mr-3"></i> Wifi </br></div>
        <div class='equipment'><i class="far fa-heart mr-3"></i> Fitness room </br></div>
        <div class='equipment'><i class="fas fa-film mr-3"></i> Cinema </br></div>
        <div class='equipment'><i class="fas fa-hot-tub mr-3"></i> Jacuzzi </br></div>
        <div class='equipment'><i class="fas fa-spa mr-3"></i> Spa </br></div>
        <div class='equipment'><i class="fas fa-bowling-ball mr-3"></i> Booling</div>
        <!-- <div class='equipment'><i class="fas fa-golf-ball mr-3"></i> Golf court</div>
        <div class='equipment'><i class="fas fa-binoculars mr-3"></i> Panoramic view </br></div>
        <div class='equipment'><i class="fas fa-horse-head mr-3"></i></i> Horse riding</div>
        <div class='equipment'><i class="fas fa-cocktail mr-3"></i> Cocktail's bar</div>
        <div class='equipment'><i class="fas fa-skiing mr-3"></i> Skiing</div>
        <div class='equipment'><i class="fas fa-utensils mr-3"></i> Head cook</div> -->

      </div>

      <div class='p-3'>
        <p>Nous avons eu un véritable coup de cœur pour cet appartement vue sur l'île de Nantes et son éléphant. Idéal pour visiter Nantes au calme en regardant passer les bateaux, vous êtes les bienvenus. Ancien appartement Nantais rénové en pierre.</p>
      </div>
    </div>

</div>

<%= javascript_pack_tag 'calculate_booking_price' %>

