<div class ="row visible" style='height: calc(100vh - 65px);'>

  <div class="col-12 col-md-6">
    <div class='row' style='height: 65%;'>
      <div class='' style="width:100%; background-size: cover; background-position: center; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @rocket.photo.key %>')">
        <div class='mx-5 text-white'>
          <h1><strong><%= @rocket.name %></strong></h1>
          <p>Launch form Cap Canaveral, Florida</p>
        </div>
      </div>
    </div>
    <div class='row' style='height: 35%;'>
      <div class='' style="width:50%; background-size: cover; background-position: center; background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://live.staticflickr.com/65535/47706292911_b8370310a1_b.jpg')"></div>
      <div class='' style="width:50%; background-size: cover; background-position: center; background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://cdn.images.express.co.uk/img/dynamic/151/590x/secondary/NASA-news-space-station-pictures-Earth-from-space-International-Space-Station-ISS-1951450.jpg?r=1562686066683')"></div>
    </div>
  </div>

  <div class="col-12 col-md-6">

    <div class="card p-3 m-3">
      <h5>Book this rocket!</h5>
      <%= simple_form_for [@rocket, @order] do |f| %>
        <%= f.input :begin_date, as: :string, input_html: {class: "begin_date datepicker"} %>
        <%= f.input :end_date, as: :string, input_html: {class: "end_date datepicker"}  %>
        <div class= "d-flex justify-content-between">
          <p id = "calcul"></p>
          <p class = "text-right" id="price"></p>
        </div>
        <%= f.submit "book", class: "btn btn-info w-100" %>



      <% end %>
    </div>

    <div class="card p-3 m-3">
      <h3>Technical details</h3>
      <p>6 bunks · 2 rooms · 2 bathrooms · 1 fitness room</p>
      <p>autonomy: <%= @rocket.autonomy %> année lumière</p>
      <p>3000 tonnes · height: 30m</p>
      <p>price: <strong class = "daily_price"><%= @rocket.daily_price%></strong> $</p>
    </div>

    <div class="card p-3 m-3">
      <h3>Description</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

</div>

<%= javascript_pack_tag 'calculate_booking_price' %>

