<%= render 'shared/background' do %>
<div class="banner" style='height: calc(100vh - 65px);'>
  <div class="container">
    <h1 class = "mb-3 text-align-center" id='neon-title' style='font-size: 10vw;'>RocketMan</h1>
    <%# <p>Take off now</p> %>
    <div class="row">
      <div class="col-sm-12" id="formContainer">
        <div class="form-inline justify-content-center text-center mt-2 id="SignToNewsletterForm">
          <%= simple_form_for :search, url: rockets_path, method: "GET",
            wrapper: :inline_form,
            html: { class: "form-inline" },
            wrapper_mappings: {
              boolean: :inline_boolean
            }  do |f| %>
            <%= f.input :continent, collection: Rocket::CONTINENT, prompt: "Continent", input_html: {class: "mb-2 mr-sm-2"} %>
            <%= f.input :begin_date, as: :string, required: false, input_html: {value: "From", class: "datepicker mb-2 mr-sm-2"} %>
            <%= f.input :end_date, as: :string, required: false, input_html: {value: "To", class: "datepicker mb-2 mr-sm-2"}  %>
            <%= button_tag( :class => "btn btn-primary btn-lg mb-2") do %>
              TAKE OFF <i class="fas fa-space-shuttle"></i>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>

<% end %>



