<%= render 'shared/background' %>

<div class="container">
  <h1 class= "pt-3 pb-3 text-white">Add a new rocket</h1>
  <div class='card p-3 mb-5'>
    <%= simple_form_for @rocket, url: owner_rockets_path,
      wrapper: :horizontal_form,
      wrapper_mappings: {
        boolean:       :horizontal_boolean,
        check_boxes:   :horizontal_collection,
        date:          :horizontal_multi_select,
        datetime:      :horizontal_multi_select,
        file:          :horizontal_file,
        radio_buttons: :horizontal_collection,
        range:         :horizontal_range,
        time:          :horizontal_multi_select
      }  do |f| %>
      <%= f.error_notification %>

      <%= f.input :name %>

      <%= f.input :daily_price %>

      <%= f.input :autonomy %>

      <%= f.input :rooms_number %>
      <%= f.input :beds_number %>
      <%= f.input :bathrooms_number %>
      <%= f.input :travellers_number %>
      <%= f.input :surface %>

      <%= f.input :address, wrapper_html: { id: 'addressJs'} %>
      <p id="addressText">Your detected address: </p>

      <%= f.input :photo, as: :file %>
      <div class='text-center'>
        <%= f.button :submit, class: 'btn btn-outline-success btn-lg' %>
      </div>
    <% end %>
  </div>

</div>

<%= javascript_pack_tag 'verifyLocation' %>
