
<div class="container">
  <h1 class= "pt-3 pb-3">Add a new rocket</h1>
  <div class='card p-3'>
    <%= simple_form_for @rocket, url: owner_rockets_path do |f| %>
      <%= f.error_notification %>

      <%= f.input :name %>

      <%= f.input :daily_price %>

      <%= f.input :autonomy %>

      <%= f.input :rooms_number %>
      <%= f.input :beds_number %>
      <%= f.input :bathrooms_number %>
      <%= f.input :travellers_number %>
      <%= f.input :surface %>

      <%= f.input :address, wrapper_html: { id: 'addressJs'} %>
      <p id="addressText">Your detected address: </p>

      <%= f.input :photo, as: :file %>

      <%= f.button :submit, class: 'btn btn-light', style: 'width: 100%' %>
    <% end %>
  </div>

</div>

<%= javascript_pack_tag 'verifyLocation' %>
